[submodule "front-end"]
	path = front-end
	url = https://github.com/CViniciusSDias/alura-ms-front.git
[submodule "mkt-node"]
	path = mkt-node
	url = https://github.com/CViniciusSDias/alura-ms-mkt-node.git
[submodule "financeiro-php"]
	path = financeiro-php
	url = https://github.com/CViniciusSDias/alura-ms-financeiro-php.git
[submodule "academico-php"]
	path = academico-php
	url = https://github.com/CViniciusSDias/alura-ms-academico-php.git
[submodule "academico-php-web"]
	path = academico-php-web
	url = https://github.com/CViniciusSDias/alura-ms-web-academico-php.git
